<div class="icon">
  <img src="assets/img/moon.png" id = "icon">
</div>

<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<div class="main">
  <h1>Mainak's To Do List</h1>

  <label for="addItemInput">What would you like to do today?</label>
<form action="#">
  <input
    #newTitle type="text"
    placeholder="Add a title"
    class="lg-text-input"
    id="addItemInput" required>
  <br>
  <input
    #newItem type="text"
    placeholder="Description"
    class="lg-text-input"
    id="addItemInput" required>

  <button type ="submit" class="btn-primary" (click)="addItem(newTitle.value,newItem.value);newItem.value='';newTitle.value=''">Add</button>
  </form>

  <div class="btn-wrapper">
    <button
      class="btn btn-menu"
      [class.active]="filter == 'all'"
      (click)="filter = 'all'">
      All
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'active'"
      (click)="filter = 'active'">
      To Do
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'done'"
      (click)="filter = 'done'">
      Done
    </button>
  </div>

  <h2>{{items.length}} <span *ngIf="items.length === 1; else elseBlock">item</span>
  <ng-template #elseBlock>items</ng-template></h2>

  <div cdkDropList class="item-list" (cdkDropListDropped)="drop($event)">
  <ul>
    <li class = 'item-box' *ngFor="let item of items" cdkDrag>
      <div *ngIf="searchText==='' || item.title.toLowerCase().includes(searchText) || item.description.toLowerCase().includes(searchText)">

      <app-item (remove)="remove(item)" [item]="item">
      </app-item>

    </div>
  </li>

  </ul>
</div>
</div>



